[package]
name = "nom_edn"
version = "0.1.0"
authors = ["Clark Kampfe <clark.kampfe@gmail.com>"]
edition = "2018"

[dependencies]
nom = "5.1"
rust_decimal = "1.0.1"

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "bench"
harness = false
